# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Base de datos
*.db
*.sqlite
*.sqlite3

# Entorno virtual
venv/
env/
ENV/
.venv

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing y Cobertura
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover
.pytest_cache/
.tox/
.hypothesis/
junit/
test-results/
*.log

# Reportes
reports/
test_reports/