<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login - Minimercado</title>
    <link rel="stylesheet" href="/static/css/login/login.css">
</head>
<body>
    <div class="auth-container">
        <h2>Iniciar Sesión</h2>

        <input type="text" id="username" placeholder="Usuario">
        <input type="password" id="password" placeholder="Contraseña">

        <button onclick="login()">Ingresar</button>

        <p id="mensaje"></p>

        <a href="/register">Registrarse</a>
    </div>

    <script src="/static/js/login/login.js"></script>
</body>
</html>
